<article [ngClass]="{
					'alert': true,
					'alert-danger': inputPost.loveIts===0,
					'alert-success': inputPost.loveIts===1,
					'alert-secondary': inputPost.loveIts===2
						}">

	<header class="row">
		<div class="col-md-6" ><h1>{{inputPost.title}}</h1></div>
		<div class="col-6 col-md-4, text-secondary, text-right">
			Posted on : <time >{{inputPost.created_at |date }}</time>
			</div><!-- TODO : debug :  datetime="{{inputPost.created_at}}" -->
	</header>
	
	<content class="row" >{{inputPost.content}}</content>
	
	<footer class="row">
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-success" (click)="likeIt()"		>J'aime</button>
		  <button type="button" class="btn btn-danger" 	(click)="notLikeIt()" 	>Je n'aime pas</button>
		</div>
	</footer>
	
</article>
