<h1>POSTS</h1>
<app-post-list-item-component *ngFor="let post of listOfPosts"
	[inputPost]="post"
	></app-post-list-item-component>

<!-- TODO : add a scrollspy 
https://getbootstrap.com/docs/4.0/components/scrollspy/
 -->